<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0,user-scalable=no">
  <meta name="HandheldFriendly" content="true">
  <meta name="robots" content="index,follow">
  <meta name="title" content="Notas de Prensa | Tour Experto - Noticias y Actualizaciones">
  <meta name="description"
    content="Explora las últimas notas de prensa y noticias sobre Tour Experto. Descubre nuestras novedades, logros y eventos destacados.">
  <title>Remarketing</title>
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <link rel="stylesheet" type="text/css" href="content/css/libs/libs-reducidas.css" />
  <link rel="stylesheet" type="text/css" href="content/css/styles-basicos.css" />
  <link rel="stylesheet" href="/content/css/termsT-remarketing.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick-theme.css" />

  <script defer type="text/javascript" src="content/js/libs/libs-reducidas.js"></script>
  <script defer src="https://webchat.woztell.com/sdk.js"></script>
</head>

<body>
  <!--header-->
  <main>
    <section class="heroSomos">
      <div class="heroMobile">
        <h1>Somos la primera agencia especializada en tours en español</h1>
        <div class="heroImagen mobile"></div>
        <div id="heroIcons" class="heroIcons"></div>
      </div>
      <div class="heroImagen tablet"></div>
    </section>
    <section class="toursMundo">
      <h2>Tours a todas partes del mundo</h2>
      <div id="tours" class="tours"></div>
      <a class="verOfertas">Ver más tours en oferta</a>
    </section>
    <section class="tourIdeal">
      <h2>¿Como buscar un tour ideal para tus próximas vacaciones?</h2>
      <iframe width="85%" height="146px" src="https://www.youtube.com/embed/0zE9C3roCBQ?si=xQrWBzovTgB_wCfQ"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
    <section>
      <div class="mobile">
        <div id="ofertas">
          <div class="slideOfertas">
            <img src="/content/img/home/banner-beneficios-1-MOB.webp" />
          </div>
          <div class="slideOfertas">
            <img src="/content/img/home/banner-beneficios-2-MOB.webp" />
          </div>
          <div class="slideOfertas">
            <img src="/content/img/home/banner-beneficios-3-MOB.webp" />
          </div>
        </div>
      </div>
      <div class="tablet">
        // ACA VAN LAS IMAGENES DE TABLET
      </div>
    </section>
    <section class="opinionesPasajeros">
      <h2>Mira las opiniones de pasajeros que nos han elegido para su viaje</h2>
      <div id="review-items">
        <!--rvw-->
        <div class="slideReviews">
          <a href="https://www.tourexperto.com/tripadvisor.html" class="linkTripadvisor" target="_blank"
            aria-label="Ir a Tripadvisor">
            <img loading="lazy" src="/content/img/tripadvisor.svg" alt="Tripadvisor" class="tripadvisor" width="119"
              height="28">
            <div class="reviewBody">
              <div class="pasajeroReview">
                <div class="pasajeroImagen" data-background='/images/<!--img-->'
                  style="background-image: url('/images/<!--img-->');">
                </div>
                <div class="pasajeroNombre">
                  <p><strong>
                      <!--nom_rvw-->
                    </strong> </p>
                  <div class="rating">
                    <!--lasestrellas-->
                  </div>
                </div>
              </div>
              <div class="slide-text">
                <p>
                  <!--txt_obs-->
                </p>
              </div>
            </div>
            <div class="desborde">...</div>
          </a>
        </div>
        <!--finrvw-->
      </div>
    </section>
    <section class="dudaVerMundo">
      <div class="algunaDuda">
        <div class="mujerTelefono"></div>
        <div class="algunaDudaBody">
          <h3>¿Tienes alguna duda?</h3>
          <p>Tenemos años de experiencia en viajes para compartir contigo.</p>
          <button>Contactar con un Experto</button>
        </div>
      </div>
      <div class="verElMundo">
        <div class="verMundo">
          <h2>Tu forma de ver el mundo</h2>
          <p>Explora el blog creado por nuestros Expertos</p>
          <a>Explorar blog</a>
        </div>
      </div>
    </section>
  </main>

  <footer id="footer" class="footer-pagina"></footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script defer type="text/javascript" src="/content/js/termsT-remarketing.js"></script>
</body>

</html>