<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0,user-scalable=no">
  <meta name="HandheldFriendly" content="true">
  <meta name="robots" content="index,follow">
  <meta name="title" content="Tours en español con todo incluido - Explora el mundo con flexibilidad y seguridad">
  <meta name="description"
    content="Descubre la primera agencia especializada en tours en español. Ofrecemos más de 5700 tours con todo incluido a destinos alrededor del mundo. Reserva con solo el 20% del valor y disfruta de beneficios exclusivos como Assist Card y 10GB de internet gratis. ¡Explora nuestras ofertas y vive una experiencia única de viaje!">
  <title>Remarketing</title>
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <link rel="stylesheet" type="text/css" href="content/css/libs/libs-reducidas.css" />
  <link rel="stylesheet" type="text/css" href="content/css/styles-basicos.css" />
  <link rel="stylesheet" href="/content/css/remarketing.css?v=1.1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick-theme.css" />

  <script defer type="text/javascript" src="content/js/libs/libs-reducidas.js"></script>
  <script defer src="https://webchat.woztell.com/sdk.js"></script>
</head>

<body>
  <!--header-->
  <main>
    <section class="heroSomos">
      <div class="heroMobile">
        <h1>Somos la primera agencia especializada en tours en español</h1>
        <div class="heroImagen mobile"></div>
        <div id="heroIcons" class="heroIcons"></div>
      </div>
      <div class="heroImagen tablet"></div>
    </section>
    <section class="toursMundo">
      <h2>Tours a todas partes del mundo</h2>
      <div id="tours" class="tours"></div>
      <a href="/cgi-bin/tesearch.pl?ofertas=1&idOrder=3&seg=1" class="verOfertas">Ver más tours en oferta</a>
    </section>
    <section class="tourIdeal">
      <h2>¿Como buscar un tour ideal para tus próximas vacaciones?</h2>
      <iframe src="https://www.youtube.com/embed/0zE9C3roCBQ?si=xQrWBzovTgB_wCfQ" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
    <section class="ofertas">
      <div class="mobile">
        <div id="ofertas">
          <div class="slideOfertas">
            <a href="/ventajas.html">
              <img class="firstSlide" src="/content/img/home/banner-beneficios-1-MOB.webp"
                alt="Reserva tu viaje con el 20% del valor" />
            </a>
          </div>
          <div class="slideOfertas">
            <a href="/ventajas.html">
              <img src="/content/img/home/banner-beneficios-2-MOB-B.webp"
                alt="Todos nuestros tours incluyen beneficios exclusivos" />
            </a>
          </div>
          <div class="slideOfertas">
            <a href="/ventajas.html">
              <img src="/content/img/home/banner-beneficios-3-MOB-B.webp"
                alt="Cobertura al pasajero con assist card y 10GB de internet gratis" />
            </a>
          </div>
        </div>
      </div>
      <div class="tablet ofertasTablet">
        <a href="/ventajas.html">
          <img src="/content/img/home/home-beneficios1.webp" alt="Reserva tu viaje con el 20% del valor" />
        </a>
        <a href="/ventajas.html">
          <img src="/content/img/home/home-beneficios2.webp"
            alt="Todos nuestros tours incluyen beneficios exclusivos" />
        </a>
        <a href="/ventajas.html">
          <img src="/content/img/home/home-beneficios3.webp"
            alt="Cobertura al pasajero con assist card y 10GB de internet gratis" />
        </a>
      </div>
    </section>
    <section class="opinionesPasajeros">
      <h2>Mira las opiniones de pasajeros que nos han elegido para su viaje</h2>
      <div id="review-items">
        <!--rvw-->
        <div class="slideReviews">
          <a href="/tripadvisor.html" class="linkTripadvisor" target="_blank"
            aria-label="Ir a Tripadvisor">
            <img loading="lazy" src="/content/img/tripadvisor.svg" alt="Tripadvisor" class="tripadvisor" width="119"
              height="28">
            <div class="reviewBody">
              <div class="pasajeroReview">
                <div class="pasajeroImagen" data-background='/images/<!--img-->'
                  style="background-image: url('/images/<!--img-->');">
                </div>
                <div class="pasajeroNombre">
                  <p><strong>
                      <!--nom_rvw-->
                    </strong> </p>
                  <div class="rating">
                    <!--lasestrellas-->
                  </div>
                </div>
              </div>
              <div class="slide-text">
                <p>
                  <!--txt_obs-->
                </p>
              </div>
            </div>
            <div class="desborde">...</div>
          </a>
        </div>
        <!--finrvw-->
      </div>
    </section>
    <section class="dudaVerMundo">
      <div class="algunaDuda">
        <div class="algunaDudaContent">
          <div class="mujerTelefono"></div>
          <div class="algunaDudaBody">
            <h3>¿Tienes alguna duda?</h3>
            <p>Tenemos años de experiencia en viajes para compartir contigo.</p>
            <button>Contactar con un Experto</button>
          </div>
        </div>
      </div>
      <div class="verElMundo">
        <div class="verMundo">
          <h2>Tu forma de ver el mundo</h2>
          <p>Explora el blog creado por nuestros Expertos</p>
          <a href="https://blog.tourexperto.com/">Explorar blog</a>
        </div>
      </div>
    </section>
  </main>

  <frameset>
    <frame id="view_phone"></frame>
  </frameset>
  <div class="float-wapp" style="display:none;"><a
      href="https://wa.me/+17542673454?text=Hola,%20Quiero%20hacer%20una%20consulta"><img loading="lazy"
        src="/content/img/icons/btn-wapp.webp" alt="Ir a ventana de Whatsapp" width="66" height="66"></a></div>
  <footer id="footer" class="footer-pagina"></footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script defer type="text/javascript" src="/content/js/remarketing.js"></script>
  <script>
    var watcherPagina = setInterval(function () {
      if (window.jQuery) {
        clearInterval(watcherPagina);
        window.onload = function () {
          onloadHeader();
          $('.float-wapp a').click(function (e) {
            e.preventDefault();
            if (screen.width < 520) {
              window.open($('.float-wapp a').attr('href'), 'view_phone', "width=1,height=1");
            } else {
              window.open($('.float-wapp a').attr('href'), 'view_phone', "width=500,height=500");
            }
          })
          $(window).resize(function () {
            resizeHeader();
          })
        }   //fin window.onload
      }  //fin   if (window.jQuery
    });
  </script>
</body>

</html>

<!--stars-->
<div class="star<!--tipostar-->"></div>
<!--finstars-->