<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0,user-scalable=no">
  <meta name="HandheldFriendly" content="true">
  <meta name="robots" content="index,follow">
  <meta name="title" content="Notas de Prensa | Tour Experto - Noticias y Actualizaciones">
  <meta name="description"
    content="Explora las últimas notas de prensa y noticias sobre Tour Experto. Descubre nuestras novedades, logros y eventos destacados.">
  <title>Remarketing</title>
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <link rel="stylesheet" type="text/css" href="content/css/libs/libs-reducidas.css" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="content/css/styles-basicos.css" />
  <link rel="stylesheet" href="/content/css/termsT-remarketing.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick-theme.css" />

  <script defer type="text/javascript" src="content/js/libs/libs-reducidas.js"></script>
  <script defer src="https://webchat.woztell.com/sdk.js"></script>
</head>

<body>
  <!--header-->
  <main>
    <section class="heroSomos">
      <h1>Somos la primera agencia especializada en tours en español</h1>
      <div class="heroImagen"></div>
      <div id="heroIcons" class="heroIcons">
        <div>
          <img src="/content/images/icon-todo-incluido.png" alt="Todo Incluido">
          <p>Todo incluido</p>
        </div>
        <div>
          <img src="/content/images/icon-tours.png" alt="Mas de 5700 tours">
          <p>Más de 5700 tours</p>
        </div>
        <div>
          <img src="/content/images/icon-tour-aereo.png" alt="Tour + Aereo">
          <p>Tour + Aéreo</p>
        </div>
        <div>
          <img src="/content/images/icon-flexibilidad.png" alt="Flexibilidad y seguridad">
          <p>Flexibilidad y seguridad</p>
        </div>
      </div>
    </section>
    <section class="toursMundo">
      <h2>Tours a todas partes del mundo</h2>
      <div class="tours">
        <div class="tour">
          <div class="tourImagen">
            <p>Sueños de Europa</p>
            <p>14 días / 13 noches</p>
          </div>
          <div class="tourPrecio">
            <p>Todo incluido desde <span class="precioAntiguo">USD 2.430</span></p>
            <p>USD 2.022 por persona</p>
          </div>
        </div>
      </div>
      <a>Ver más tours en oferta</a>
    </section>
    <section>
      <h2>¿Como buscar un tour ideal para tus próximas vacaciones?</h2>
      <iframe src="" frameborder="0"></iframe>
    </section>
    <section>
      SLIDER
    </section>
    <section>
      <div>MUJER TELEFONO</div>
      <div>
        <h3>¿Tienes alguna duda?</h3>
        <p>Tenemos años de experiencia en viajes para compartir contigo.</p>
        Contactar con un Experto
      </div>
    </section>
    <section>
      <h2>Mira las opiniones de pasajeros que nos han elegido para su viaje</h2>
    </section>
  </main>

  <footer id="footer" class="footer-pagina"></footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script defer type="text/javascript" src="/content/js/termsT-remarketing"></script>
</body>

</html>
