* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --url-sprite_hero: url(/content/img/shared/sprite_header.webp?v=1.02);
}

body[data-entorno="tourexperto.com"] {
  --url-sprite_hero: url(//imagenes.tourexperto.com/content/img/shared/sprite_header.webp?v=1.02);
}


main {
  max-width: 992px;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}

h1 {
  font-size: 1.15rem;
}

h2 {
  width: 95%;
  font-size: 1rem;
  font-weight: bold;
}

p {
  margin-bottom: 0;
}

section {
  padding: 0.75rem 0;
}

/* Hero */

.heroSomos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(102.19deg, #2E0049 1.06%, #6C58FE 100%);
  padding: 1.5rem 0;
}

.heroMobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroSomos h1 {
  width: 85%;
  text-align: center;
  color: white;
  margin: 0;
}

.heroImagen {
  width: 100%;
  height: 10rem;
  background-image: url("/content/img/remarketing/turistas.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2rem 0;
}

.heroIcons {
  width: 85%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.heroIcons div {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
}

.iconHero {
  width: 48px;
  height: 50px;
  min-width: 48px;
  background: var(--url-sprite_hero) no-repeat;
  background-size: 375px 260px;
}

.iconIncluido {
  background-position-x: -200px;
  background-position-y: -206px;
}

.iconTours {
  background-position-x: -200px;
  background-position-y: -80px;
}

.iconTourAereo {
  background-position-x: -200px;
  background-position-y: -27px;
}

.iconFlexibilidad {
  background-position-x: -200px;
  background-position-y: -150px;
}

.heroIcons div p {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 0.65rem;
}

/* Tours Mundo */

.toursMundo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toursMundo h2 {
  text-align: center;
  color: #6C58FE;
  margin-top: 0.75rem;
  margin-bottom: 0.8rem;
}

.tours {
  width: 85%;
}

.tour {
  display: flex;
  flex-direction: column;
}

.tourImagen {
  position: relative;
  background-image: url("/content/img/remarketing/suenos-europa.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  border-radius: 8px;
  padding: 1rem;
}

.tourImagen :first-child {
  font-size: 0.8rem;
  font-weight: bold;
}

.tourImagen :last-child {
  font-size: 0.65rem;
}

.tourPrecio {
  align-self: flex-end;
  position: relative;
  z-index: 1;
  background: #DB326E;
  color: white;
  border-radius: 8px 0 8px 8px;
  padding: 0.5rem;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}

.tourPrecio p {
  font-size: 0.5rem;
  text-align: end;
}

.precioAntiguo {
  text-decoration: line-through
}

.precio {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.verOfertas {
  background: #DB326E;
  color: white;
  border-radius: 33px;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0px 1px 3px 0px #00000040;
  padding: 1rem 2rem;
  cursor: pointer;
}

.verOfertas:hover {
  color: white;
}

/* Tour ideal */

.tourIdeal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tourIdeal h2 {
  text-align: center;
  color: #6C58FE;
  margin-bottom: 1rem;
}

.tourIdeal iframe {
  width: 270px;
  height: 152px;
  border-radius: 9px;
  box-shadow: 0px 1px 3px 0px #0000002E;
}

/* Ofertas */

#ofertas {
  width: 85%;
  margin: 0 auto;
}

.slideOfertas {
  display: flex !important;
  justify-content: center;
}

.slideOfertas a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slideOfertas img {
  width: 95%;
  border-radius: 9px;
  box-shadow: 0px 1px 3px 0px #0000002E;
}

/* Opiniones Pasajeros */

.opinionesPasajeros h2 {
  text-align: center;
  color: #6C58FE;
  margin: 0 auto 1rem auto;
  width: 85%;
}

#review-items {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.slideReviews {
  position: relative;
  height: 195px !important;
  border-radius: 9px;
  box-shadow: 0px 1px 3px 0px #0000002E;
  margin: 0.25rem;
}

.linkTripadvisor {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.linkTripadvisor:hover {
  color: black;
}

.tripadvisor {
  align-self: flex-end;
}

.reviewBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0 0.75rem;
}

.pasajeroReview {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.pasajeroImagen {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pasajeroImagen {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.rating svg {
  font-size: .875em;
}

.rating .badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.star-s,
.star-r {
  width: 12px;
  height: 12px;
  border: 1px solid #34E0A1;
  display: inline-block;
  border-radius: 50%;
}

.star-r {
  background-color: #fff;
}

.star-s {
  background-color: #34E0A1;
}

.pasajeroNombre {
  display: flex;
  flex-direction: column;
}

.slide-text {
  max-height: 106px;
  overflow: hidden;
  line-height: 1.2;
}

.slide-text p {
  font-size: 0.9rem;
}

.slick-dots {
  bottom: -36px !important;
}

.slick-dots li button:before {
  font-size: 12px !important;
}

.slick-dots li button:hover {
  color: #6C58FE !important;
}

.slick-dots li button:before {
  color: #6C58FE !important;
}

.slick-dots li.slick-active button:before {
  color: #6C58FE !important;
}

.desborde {
  position: absolute;
  z-index: 1;
  bottom: 3px;
  right: 8px;
  font-size: 14px;
  font-weight: bold;
}

/* Aluna duda */

.algunaDuda {
  display: flex;
  align-items: flex-end;
  gap: 0.75rem;
  background: #5B46A3;
  color: white;
  padding: 1rem 1rem 0 1rem;
}

.mujerTelefono {
  width: 50%;
  height: 6.8rem;
  background-image: url("/content/img/remarketing/mujer-telefono.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.algunaDudaBody {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding-bottom: 0.75rem;
}

.algunaDudaBody h3 {
  font-size: 0.9rem;
}

.algunaDudaBody p {
  font-size: 0.75rem;
}

.algunaDudaBody button {
  background-color: #DB326E;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.7rem;
  border: none;
  border-radius: 33px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

/* Ver el mundo */

.verElMundo {
  padding: 1.5rem 1rem;
}

.verMundo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  background-image: url("/content/img/remarketing/ver-mundo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 1px 3px 0px #0000002E;
  border-radius: 9px;
  color: white;
  padding: 3rem 0 1rem 0;
}

.verMundo p {
  text-align: center;
  font-size: 0.75rem;
}

.verMundo a {
  background: #D3245C;
  border-radius: 33px;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 1rem 2rem;
  margin-top: 0.75rem;
  cursor: pointer;
}

.tablet {
  display: none;
}

@media only screen and (min-width: 420px) {
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  .heroIcons div p {
    font-size: 0.7rem;
  }

  .tourImagen :first-child {
    font-size: 1rem;
  }

  .tourImagen :last-child {
    font-size: 0.8rem;
  }

  .tourPrecio {
    padding: 0.5rem 0.75rem;
  }

  .tourPrecio p {
    font-size: 0.6rem;
  }

  .tourIdeal iframe {
    width: 357px;
    height: 201px;
  }
}

@media only screen and (min-width: 530px) {
  .tourPrecio {
    padding: 0.5rem 0.9rem;
  }

  .tourPrecio p {
    font-size: 0.7rem;
  }

  .tourIdeal iframe {
    width: 450px;
    height: 253px;
  }
}

/* Tablet */
@media only screen and (min-width: 660px) {
  .tablet {
    display: block;
  }

  .mobile {
    display: none;
  }

  /* Hero */
  .heroSomos {
    flex-direction: row;
    padding: 1.5rem;
    gap: 1rem;
  }

  .heroSomos h1 {
    width: 100%;
  }

  .heroMobile {
    gap: 1rem;
  }

  .heroImagen {
    width: 100%;
    border-radius: 18px;
    margin: 0;
  }

  .heroIcons {
    width: 100%;
  }

  /* Tours */

  .tours {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .tour {
    width: 45%;
  }

  .tourImagen :last-child {
    font-size: 0.7rem;
  }

  .tourPrecio {
    margin-bottom: 0;
    margin-top: -1.25rem;
  }

  .tourPrecio p {
    font-size: 0.6rem;
  }

  /* Tour Ideal */

  .tourIdeal iframe {
    width: 500px;
    height: 281px;
  }

  /* Alguna duda - Ver el mundo */
  .dudaVerMundo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    padding: 0.75rem 0.75rem;
  }

  .algunaDuda,
  .verElMundo {
    width: 45%;
    height: 100%;
    padding: 0;
  }

  .algunaDuda {
    border-radius: 9px;
    padding: 2rem 0.5rem 0 0.5rem;
  }

  .algunaDudaBody {
    gap: 0.5rem;
  }

  .algunaDudaBody button {
    margin-top: 1rem;
  }

  .mujerTelefono {
    height: 7rem;
    background-size: contain;
  }
}

@media only screen and (min-width: 800px) {
  .heroImagen {
    height: 12rem;
  }

  .tourImagen :last-child {
    font-size: 0.8rem;
  }

  .tourPrecio p {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 992px) {
  .heroSomos h1 {
    width: 85%;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  .heroIcons div p {
    font-size: 0.75rem;
  }

  .heroMobile {
    gap: 3rem;
  }

  .heroImagen {
    height: 14rem;
  }

  .tourImagen {
    padding: 1.5rem;
  }

  .verOfertas {
    font-size: 1rem;
  }

  .tourIdeal iframe {
    width: 650px;
    height: 366px;
  }
}